.TodoCounter {
    font-size: 24px;
    background: transparent;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom right, #e9eb87, #5f60a0, #000000, #a05f5f);
    background-size: 200% 200%;
    animation: waveAnimation 10s linear infinite;
    margin: 0;
    
    padding: 24px;
    
    text-align: center;
  }
  
  @keyframes waveAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  

  .TodoCounter span{

    font-weight: bold;
    color: red;

  }