.TodoSearch{
    
    display: block;



    background-color: aliceblue;
    border-radius: 2px;
    border: 2px solid black;
    margin: 0 auto;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Nova';
    font-weight: 400;
    color: rgb(192, 23, 23);
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);

}

.TodoSearch::placeholder{
    color: rgb(63, 62, 60);
    font-family: 'Nova';
    font-weight: 400;
}

.TodoSearch:focus{
    outline-color: rgb(148, 201, 183);

}